html, body {
  margin: 2.5vmin;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #a1a1a1;
  background: #dddddd;
  width: 50vmin;
  border-radius: 5px;
  padding: 5px;
}

.main {
  min-height: 30vmin;
}

.secondary {
  min-height: 10vmin;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.horizontalCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.maximized {
  height: 100vh;
  width:100vw;
}

/* Input tag styling */

.inputField {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
}

.inputField input {
  width: 25vmin;
}

.inputField button {
  font-size: 3vmin;
  border: 2px solid #000000;
  background-color: #A1A1A1;
  border-radius: 3px;
  padding: 1px;
}

.fieldGrouping {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Character selection screen specific */

.controlContainer {
  padding: 5px;
}

.controlTextContainer {
  font-size: 3vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  border: 2px solid #000000;
  background-color: #A1A1A1;
  border-radius: 3px;
}

/* Instructions and modifiers for instructions */
.instruction {
  font-size: 3vmin;
  width: 15vmin;
}

.small {
  font-size: 2vmin;
}

.wide {
  width: 40vmin;
}

.error {
  color: red;
}

/* Modifiers for individual ui elements */
button.inactive {
  background-color: #dddddd;
  color: #777777;
}

.delete {
  background-color: #FF0000;
}

.createNew {
  background-color: #00FF00;
}

.settings {
  background-color: #0099FF;
}

.hidden {
  display: none;
}
