html, body {
  margin: 2.5vmin;
}

.contentContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  min-height: 30vmin;
  width: 50vmin;
	border: 2px solid #a1a1a1;
  background: #dddddd;
  border-radius: 5px;
}

.mainContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px;
}

.inputField {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 1px;
}

.instruction {
  font-size: 3vmin;
	width: 15vmin;
}

.small {
  font-size: 2vmin;
}

.wide {
  width: 40vmin;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.inputField button {
  font-size: 3vmin;
	border: 2px solid #000000;
	background-color: #A1A1A1;
	border-radius: 3px;
	padding: 1px;
}

.inputField input {
  width: 25vmin;
}

.controlContainer {
	padding: 5px;
}

.controlTextContainer {
  font-size: 3vmin;
  width: 40vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
	border: 2px solid #000000;
	background-color: #A1A1A1;
	border-radius: 3px;
}
