html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Main menu style */
.floatingMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vmin;
  padding: 5px;
}

/* Quest log styles */
.questLog {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 3.5vmin;
}

.questContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid #a1a1a1;
	background: #dddddd;
	border-radius: 5px;
}

.questLogSection {
	width: 50vmin;
	font-size: 2.5vmin;
	border: 2px solid #a1a1a1;
	background: #ffffff;
	border-radius: 5px;
}

/* Tab control styling */
.tabControls {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tabControls div {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 2px solid #a1a1a1;
		border-bottom: 0px;
		background: #bbbbbb;
}

.tabControls div.selected {
		background: #dddddd;
}

/* Toast window styling */
.toastWindow-displayDiv {
	border: 2px solid #a1a1a1;
	background: #dddddd;
}

.toastWindow-messageDiv {
	font-size: 3.5vmin;
	padding: 1vmin;
}
