html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

.questLog {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 3.5vmin;
}

.questContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid #a1a1a1;
  background: #dddddd;
  border-radius: 5px;
}

.questLogSection {
	width: 40vmin;
	font-size: 2.5vmin;
	border: 2px solid #a1a1a1;
  background: #ffffff;
  border-radius: 5px;
}
