<div class="main-content">

	<h3 class="instruction">Please log in</h3>
	
	{{outlet}}

	<div class="inputField">
		Name {{input type="text" value=name}}
	</div>
	<div class="inputField">
		Password {{input type="password" value=password}}
	</div>
	<div class="inputField actions">
		<button {{action 'login'}}>login</button>
	</div>
</div>